@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$darkGrey: #212121;
$midGrey: #3D3C3C;
$lightGrey: #AFAFAF;
$coldGreen: #99D1B6;

//----------------DIV------------------
html {
  height: 100%;
}
body{
  background-color: $darkGrey;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color : white;
}
.container{
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgba(70,70,70,1) 0%, rgba(33,33,33,1) 100%);
}
.containerDark{
  margin-top: 20px;
}
.containerLight{
  color: $darkGrey;
  background-color : white;
}
.marginTopL{
  margin-top: 150px !important;
}
.marginTopM{
  margin-top: 100px !important;
}
.marginTopS{
  margin-top: 50px !important;
}
li{
  display: block;
}
.colorBlend{
  width: 90%;
  height: 35%;
  position: absolute;
  top: 25%; right: 10%;
  background-color: $coldGreen;
  mix-blend-mode: multiply;
  //border: 10px solid #ec2f8a;
}

//-------------IMAGES-----------------
img {
  width: 100%;
  height: auto;
}
.imgDiv{
  justify-content: center;
  display: flex;

  .imgAccueil {
    box-sizing: border-box;
    width: 35%;
  }
}
.imgNegative{
  mix-blend-mode: multiply;
}

//---------------TEXTS-----------------
h1{
  font-family: 'Playfair Display', cursive;

  &.titrePage{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    margin: 80px 0;
    text-align: center;
    padding: 0 50px;
  }
  &.singleArticle{
    text-transform: uppercase;
    font-size: 3.7rem;
    font-weight: 400;
    margin: 80px 0;
    text-align: center;
    padding: 0 50px;
  }
}
h2{
  //&.sousTitre{
  //  font-family: 'Roboto', sans-serif;
  //  font-weight: 600;
  //  font-size: 1.8rem;
  //  text-transform: uppercase;
  //  text-align: center;
  //  padding: 50px 50px;
  //}
  &.sousTitre{
    font-family: 'Playfair Display', cursive;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 50px 50px;
  }
}
p{
  font-weight: 300;
  font-size: 0.9rem;
}
.textPropos{
  text-align: justify;
  padding: 0 100px 50px 100px;
}

//---------------NAV-------------------
.navMenu{
  background: none;
}
.menu-item {

  .nav-link {
    display: block;
    color: white;

    &:hover {
      color: $coldGreen;
      text-decoration: none;
    }

    &:active {
      text-decoration: $coldGreen;
    }
  }
  &.current-menu-item .nav-link {
    text-decoration: underline $coldGreen!important;
    text-underline-offset: 8px;
  }
}

#menu-item-98 {
  position: relative;
  display: inline-block;

  a {
    &:hover, &:focus {
      //background-color: #2980B9;
    }
  }
  .sub-menu {
    display: none;
    position: absolute;
    background-color: $midGrey;
    min-width: 210px;
    overflow: auto;
    z-index: 1;
    padding-left: 0;

    li {
      a {
        display: block;
        padding-left: 20px;

        &:hover {
          background-color: $darkGrey;
        }
      }
    }
  }
  &:hover{
    .sub-menu{
      display: block;
    }
  }
}
.navbar-toggler {
  font-size: 2rem;
  color: white;
}

//--------------BUTTONS----------------
a {
  color: $coldGreen;
  text-decoration: none;

  &:hover {
    color: $coldGreen;
    text-decoration: underline;
  }
}

.buttonGreen{
  background-color: $coldGreen;
  border-radius: 0;
}
.buttonNGreen{
  text-transform: uppercase;
  font-size: 0.9rem;
  min-width: 140px;
  background-color: $darkGrey;
  color: white;
  border: 1px solid white;
  border-radius: 0;

  &:hover {
    color: $coldGreen;
    border: 1px solid $coldGreen;
  }
}
.metaslider.ms-theme-jenga .flexslider ol.flex-control-nav:not(.flex-control-thumbs) li a {
  background: $lightGrey !important;
  border: 2px solid $lightGrey !important;
}
.metaslider.ms-theme-jenga .flexslider ol.flex-control-nav li a.flex-active{
  background: $darkGrey !important;
  border: 2px solid $darkGrey !important;
}
.metaslider.ms-theme-jenga .flexslider ul.flex-direction-nav li a {
  background-blend-mode: difference !important;
}

//------------PAGINATION---------------
.page-link {
  color: $lightGrey;
  background-color: $midGrey;
  border: 1px solid $darkGrey;

  &:hover {
    color: $coldGreen;
    background-color: $darkGrey;
    border: 1px solid $midGrey;
  }
}
.page-item.active .page-link {
  color: $midGrey;
  background-color: $coldGreen;
  border-color: $darkGrey;
}


//--------------ARTICLES--------------
.card {
  background-color: #fff;
  border: none;
  border-radius: 0;
}
.titreArticle{
  text-transform: uppercase !important;
  font-weight: 600;
  font-size: 1.3rem;
  color: $midGrey;
}
.typeIllustration{
  text-transform: uppercase !important;
  font-weight: 600;
  font-size: 1.1rem;
  color: $lightGrey !important;
}
.text-muted {
  color: $lightGrey!important;
}

//--------------SEARCH---------------
.searchBar{
  color: white;
  background-color: $darkGrey;
  border: 1px solid $midGrey;

  &:focus{
    color: white;
    background-color: $darkGrey;
    border: 1px solid $midGrey;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,209,182,.6);
  }
}

//---------------FORM----------------
#wpforms-form-42{

  .wpforms-field {
    padding: 10px 0 30px 0 !important;
  }
  label {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-style: italic !important;
    color: white !important;
  }
  input {
    background: 0 0 !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
  }
  textarea {
    border: 0 !important;
    border-radius: 0 !important;
    color: #fff !important;
    background: rgba(255, 255, 255, 0.2) !important;
  }
  .wpforms-submit-container {
    display: flex;
    justify-content: center;
  }
  button.wpforms-submit {
    color: $darkGrey !important;
    background-color: white !important;
    min-width: 140px !important;
    padding: 15px 20px !important;
    text-transform: uppercase !important;
    font-size: 0.9rem !important;

    &:hover {
      color: $coldGreen !important;
    }
  }
  .wpforms-field-sublabel, label.wpforms-error, .wpforms-required-label {
    color: $coldGreen !important;
  }
}
div.wpforms-container-full .wpforms-form textarea.wpforms-field-large {
  height: 180px !important;
}

//--------------------------------MEDIA QUERIES------------------------------

@media (max-width: 991.98px) {

  .containerDark{
    margin-top: 0;
  }
  .containerLight{
    color: $darkGrey;
    background-color : white;
    margin-top: 70px;
  }

  //---------------TEXTS-----------------
  h1{
    &.titrePage{
      font-size: 3rem;
    }
  }
  p{
    font-size: 0.7rem;
  }
  .textPropos{
    text-align: justify;
    padding: 0 70px 30px 70px;
  }

  //-------------IMAGES-----------------
  .imgDiv{
    margin: 100px 0 0 0;

    .imgAccueil {
      width: 60%;
    }
  }

  //---------------NAV-------------------
  .navbar-collapse {
    background-color: $darkGrey;
  }
  .navbar-nav .nav-link {
    padding-left: 20px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  #menu-item-98:hover .sub-menu {
    display: block;
    position: relative;
  }
  .d-flex {
    padding: 0 20px 20px 20px;
  }

  //--------------FORM-------------------
  div.wpforms-container-full {
    margin: 30px;
  }

}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 0;
  }

}

@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: 0;
  }
}

